/* start: default css */
body {
  margin: 0px auto;
  font-family: Roboto;
  max-width: 1440px;
  background: #f6f6f6;
}

.p--x80 {
  padding-left: 80px;
  padding-right: 80px;
}
.p--x70 {
  padding-left: 70px;
  padding-right: 70px;
}
.d--flex {
  display: flex;
}
.justify--contentbetween {
  justify-content: space-between;
}
.align--itemcenter {
  align-items: center;
}
.flex--wrap {
  flex-wrap: wrap;
}
.m--0 {
  margin: 0px;
}
.position--relative {
  position: relative;
}
.cursor--ptr,
button {
  cursor: pointer;
}

.hide {
  display: none;
}
/* end: default css */

/* start: newsletter css*/
.newsletter {
  background: #e9474b;
  color: #fff;
  padding: 40px 0px;
}
.newsletter__head {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 10px;
}
.newsletter__description {
  font-size: 16px;
  font-weight: 400;
  max-width: 400px;
}
.newsletter__label {
  display: block;
  font-weight: 500;
  margin-bottom: 10px;
}
.newsletter__input,
.newsletter__input:focus {
  margin-right: 30px;
  width: 250px;
  padding: 12px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  background-color: #f6f6f6;
  outline: none;
}
.newsletter__content {
  padding-top: 20px;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 20px;
  flex-wrap: wrap;
}
.newsletter--bdrbtm {
  border-bottom: 1px solid #fff;
}
.newsletter__item {
  flex: 1;
}
.newsletter__remove {
  padding-right: 5px;
  cursor: pointer;
  padding-bottom: 20px;
}
.newsletter__removetext {
  padding-bottom: 20px;
}
.newsletter__removecontent,
.newsletter__addcontent {
  justify-content: center;
}
.newsletter__addfrd,
.newsletter__addfrd:focus {
  padding: 10px 30px;
  border-radius: 4px;
  background: #e9474b;
  color: #fff;
  border: 1px solid #fff;
  outline: none;
  width: 135px;
  margin-top: 30px;
}
.newsletter__sendcontent {
  text-align: center;
  padding-top: 20px;
}
.newsletter__sendbtn,
.newsletter__sendbtn:focus {
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  background: #fff;
  color: #4a4a4a;
  outline: none;
}
.newsletter__sendimg {
  position: relative;
  top: -1px;
  padding-left: 4px;
  width: 10px;
}
.newsletter__loading {
  text-align: center;
  padding: 30px;
}
.newsletter__error {
  height: 20px;
  margin: 1px 0px 0px 0px;
  color: #151313;
}
.newsletter__addcontent {
  margin-bottom: 20px;
}
.newsletter__removecontent {
  margin-bottom: 20px;
}
.newsletter__addfrd:focus {
  border: 1px solid #655f5f;
}
.newsletter__sendbtn:focus {
  border: 1px solid #060606;
}
.newsletter__removeinner {
  padding: 15px 10px 0px 10px;
  border-radius: 4px;
  border: 1px solid transparent;
}
.newsletter__removeinner:focus {
  outline: none;
  border: 1px solid #655f5f;
}
/* end: newsleeter css */

/* media queries for all section */
@media (max-width: 1199.98px) {
  .p--x80 {
    padding-left: 30px;
    padding-right: 30px;
  }
  .p--x70 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .newsletter__input,
  .newsletter__input:focus {
    width: 180px;
  }
}
@media (max-width: 991.98px) {
  .newsletter__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .newsletter__content {
    border-bottom: 1px solid #fff;
  }
  .newsletter__input,
  .newsletter__input:focus {
    width: 300px;
  }
  .newsletter__label {
    margin-top: 10px;
  }
  .newsletter__removecontent {
    margin-top: 23.5px;
  }
  #newsletter__form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 575.98px) {
  .newsletter__input,
  .newsletter__input:focus {
    margin: 0px;
    width: 250px;
  }
}
